:root
{
	--bg-primary: #646464;
	--bg-secondary: #353535;
	--accent: #32c671;
	--accent-light: #57e893;
	--font: #ffffff;
	--font-tinted: #eeeeee;
	--warning: #fccd42;
	--danger: #dc3545;
	--danger-dark: #ba1323;
	background-color: var(--bg-primary);
	color: var(--font);

}

body
{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	margin: 0px;
}

a
{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.navbar
{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--bg-secondary);
	margin: 0px;
	padding: 0px;
}

.navbar-logo
{
	font-size: 1.75rem;
	margin-left: 1rem;
	padding: 0.6rem;
	color: var(--accent);
}

.navbar-logo > a > i
{
	padding: 0.25rem;
}

.navbar-item
{
	font-size: 1.25rem;
	margin-left: 1.25rem;
	padding: 0.5rem;
}

.navbar-item > i
{
	padding: 0.25rem;
}

.navbar-item:hover
{
	text-decoration: underline;
}

.btn
{
	padding: 0.5rem;
	border-width: 0px;
	border-radius: 0.25rem;
	color: inherit;
	font-family: inherit;
	cursor: pointer;
}

.btn:focus
{
	filter: brightness(85%);
}

.add-btn-form
{
	margin-left: auto;
	margin-right: 0.75rem;
}

.add-btn
{
	font-size: 1.25rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	background-color: var(--accent);
}

.container
{
	max-width: 1500px;
	margin-top: 5rem;
	margin-left: auto;
	margin-right: auto;
}

.todo-header
{
	text-align: center;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: 2.5rem;
	font-weight: bold;
	color: var(--accent);
}

.todo-table
{
	font-size: 1.25rem;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid var(--bg-secondary);
}

.todo-table td, th
{
	border: 1px solid var(--bg-secondary);
	text-align: center;
	padding: 0.3rem;
}

.todo-table th
{
	font-size: 1.5rem;
}

.todo-table tr:nth-child(even)
{
	background-color: var(--bg-secondary);
}

.todo-table tr:nth-child(even) td
{
	border-color: var(--bg-primary);
	border-width: 2px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.todo-table tr td:nth-child(2)
{
	width: 17ch;
}

.todo-table tr td:nth-child(3)
{
	width: 17ch;
}

.todo-table tr td:nth-child(4)
{
	width: 10ch;
}

.todo-complete-icon
{
	padding: 0.5rem;
}

.todo-complete-icon:hover
{
	color: var(--accent-light)!important;
	-webkit-text-stroke-width: 0px;
}

.todo-near-deadline
{
	color: var(--warning);
}

.todo-past-deadline td
{
	color: var(--danger);
	-webkit-text-stroke: 1px var(--danger-dark);
	font-weight: bold;
}

.todo-past-deadline td .todo-complete-icon
{
	color: var(--danger);
}

.todo-completed td:nth-child(1)
{
	text-decoration: line-through;
}

.todo-completed td .todo-complete-icon
{
	color: var(--accent);
}

.todo-completed td .todo-complete-icon:hover
{
	color: var(--accent)!important;
}

.todo-form
{
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	text-align: center;
}

.todo-form-row
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding: 0.25rem;
}

.todo-form-label
{
	font-size: 1.5rem;
	padding-right: 0.5rem;
}

.todo-form-field
{
	font-size: 1.25rem;
	line-height: 2;
	padding: 0.25rem;
	border-radius: 0.25rem;
	max-width: 100%;
}

.todo-form-instruction
{
	flex: 1;
}

.todo-form-date
{
	width: 16ch;
	margin-left: 1.75ch;
}

.todo-form-at
{
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

.todo-form-time
{
	width: 9ch;
}

/* .cancel-btn
{
	align-items: center;
	font-size: 1.25rem;
	margin-left: auto;
	margin-right: 0.5rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	background-color: var(--danger);
} */

.submit-btn
{
	margin-left: auto;
	align-items: center;
	font-size: 1.25rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	background-color: var(--accent);
}

footer
{
	position: fixed;
	bottom: 0px;
	font-size: 0.75rem;
	font-weight: lighter;
	color: var(--accent);
	text-align: center;
	background-color: var(--bg-secondary);
	width: 100%;
	padding: 0.25rem;
	font-size: 0.9rem;
}

@media screen and (max-wdith: 810px)
{
	.btn-divider
	{
		display: block;
	}
}