:root
{
	--bg-primary: #646464;
	--bg-secondary: #3e3e3e;
	--accent: #32c671;
	--font: #ffffff;
	--font-tinted: #bebebe;
	background-color: var(--bg-primary);
	color: var(--font);
	font-family: 'Lato', sans-serif;
}

body
{
	margin: 0px;
}

a:hover
{
	color: var(--font-tinted)!important;
	text-decoration: underline;
}

#logo
{
	margin-left: 2rem;
	font-size: 1.75rem;
	font-weight: bold;
}

#logo:hover
{
	cursor: pointer;
}

.nav-item
{
	color: inherit;
	font-size: 1.25rem;
	margin-left: 2rem;
}