:root
{
	--bg-primary: #646464;
	--bg-secondary: #353535;
	--accent: #32c671;
	--font: #ffffff;
	--font-tinted: #eeeeee;
	background-color: var(--bg-primary);
	color: var(--font);

}

body
{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	margin: 0px;
}

a
{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.navbar
{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--bg-secondary);
	margin: 0px;
	padding: 0px;
}

.navbar-logo
{
	font-size: 1.75rem;
	margin-left: 1rem;
	padding: 0.6rem;
	color: var(--accent);
}

.navbar-logo > a > i
{
	padding: 0.25rem;
}

.navbar-item
{
	font-size: 1.25rem;
	margin-left: 1.25rem;
	padding: 0.5rem;
}

.navbar-item > i
{
	padding: 0.25rem;
}

.navbar-item:hover
{
	text-decoration: underline;
}

.btn
{
	padding: 0.5rem;
	border-width: 0px;
	border-radius: 0.25rem;
	color: inherit;
	font-family: inherit;
	cursor: pointer;
}

.btn:focus
{
	filter: brightness(85%);
}

.add-btn
{
	font-size: 1.25rem;
	margin-left: auto;
	margin-right: 0.75rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	background-color: var(--accent);
}

.container
{
	max-width: 1500px;
	margin-top: 5rem;
	margin-left: auto;
	margin-right: auto;
}

.todo-header
{
	text-align: center;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: 2.5rem;
	font-weight: bold;
	color: var(--accent);
}

.todo-table
{
	font-size: 1.25rem;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid var(--bg-secondary);
}

.todo-table td, th
{
	border: 1px solid var(--bg-secondary);
	text-align: center;
	padding: 0.3rem;
}

.todo-table th
{
	font-size: 1.5rem;
}

.todo-table tr:nth-child(even)
{
	background-color: var(--bg-secondary);
}

.todo-table tr:nth-child(even) td
{
	border-color: var(--bg-primary);
	border-width: 2px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.todo-table tr td:nth-child(2)
{
	width: 17ch;
}

.todo-table tr td:nth-child(3)
{
	width: 17ch;
}

.todo-table tr td:nth-child(4)
{
	width: 10ch;
}

.todo-complete
{
	color: var(--accent);
}
