@page
@model AddTodoModel
@{
	ViewData["Title"] = "Add new item";
}

<form class="todo-form" method="POST" >
	<div class="todo-form-row">
		<label class="todo-form-label" for="instruction">Instruction:</label>
		<input class="todo-form-field todo-form-instruction" id="instruction" type="text" asp-for="Instruction" placeholder="What do you need to do?">
	</div>
	<div class="todo-form-row">
		<label class="todo-form-label" for="deadline-date">Deadline:</label>
		@{
			var currentDate = Model.DateTimeProvider.Now;
			var dateString = currentDate.ToString("yyyy-MM-dd");
			var timeString = currentDate.ToString("HH:mm");
		}
		<input class="todo-form-field todo-form-date" id="deadline-date" type="date" asp-for="DeadlineDate" value="@dateString">
		<label class="todo-form-label todo-form-at" for="deadline-time">@@</label>
		<input class="todo-form-field todo-form-time" id="deadline-time" type="time" asp-for="DeadlineTime" value="@timeString">

		<div class="btn-divider" style="display: none; flex-basis: 100%;"></div>

		<button class="btn submit-btn" type="submit">
			<i class="fas fa-plus"></i>
			Add new item
		</button>
	</div>
</form>
