@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="todo-table">
	<tr>
		<th>Instruction</th>
		<th>Deadline</th>
		<th>Added on</th>
		<th>Complete</th>
	</tr>
	@foreach (var todoItem in Model.TodoItems)
	{
		<tr>
			<td>@todoItem.Instruction</td>
			<td>@todoItem.Deadline.ToString("dd.MM.yyyy @ HH:mm")</td>
			<td>@todoItem.AdditionDate.ToString("dd.MM.yyyy @ HH:mm")</td>
			<td>
				<a class="todo-complete-icon">
					<i class="fas fa-check"></i>
				</a>
			</td>
		</tr>
	}
</table>
